

$neutrailGrey4 : #F8F8F8;

$neutralGrey3 : #AEAEAE;

$primaryYellowOmlette : #FFA800;

$neutralWhite : #FFFFFF;

$secondaryBlueSky : #C0DFF8;

$colorBlack : black;

$navyBlue : #282F65;

$greydark : #3E3E3E;

$blueSteal : #79DCF2;

$neutralGrey5 : #EDEDED;